body{
	padding:0px;
	margin:0px;
	background: #000000 ;
}
canvas{
	background:rgb(0, 0, 0);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:70vmin;
	height:70vmin;
}
#overlay{ 
	background:rgba(0,0,0,0.7);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:70vmin;
	height:70vmin;
	
	padding:1vmin;
	margin:0px;
	color: white;
	border-radius:2vmin;
	
	font-size:3.3vmin;
}


a{
	color:white;
}

div{
  position:absolute;
  bottom:2vmin;
  left:50%;
  transform:translate(-50%,0);
  font-size:4vmin;
  font-family:"Arial";
  color:gray;
}